<div class="modal fade" id="modal" role="dialog" style="margin-top: 7.5vh; margin-left:5vw;">

    <div class="modal-content" style="width:90vw !important;background-color:transparent !important; border:0;  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;">

      <div class="modal-body" >
    

        <%= render 'form' %>
      </div>
    </div>

</div>