<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>

</head>
<body>
<div class="container-fluid content-box">
   <h1>New Event</h1>

<%= render 'form' %>

<%= link_to 'Back', events_path %>
</div>
<footer class="footer">


  <h6 style="color:white;">About us | Terms and Condition | Copyright 2015</h6>
</footer>

  
  

</body>
</html>