<!DOCTYPE html>
<html>
 <head>
  
    <title>About</title>

    <!-- Bootstrap -->
  </head>

  <body>
  		<!--navbar-->

<div class="about">
  <div class="abtext container">
      <h1>COMING SOON</h1>
      <h2>Insert one liner subtext here</h2>
  </div>
</div>


<div class="mv container-fluid">
<div class="row">
  <div class="mission col-xs-6">
    <h1>Mission</h1>
    <p>Bacon ipsum dolor amet picanha rump turducken strip steak landjaeger alcatra leberkas chuck meatball fatback hamburger. Jerky beef ribs shankle meatloaf, sirloin landjaeger ribeye. Pastrami kevin brisket boudin capicola fatback tail. Kielbasa sausage capicola flank frankfurter beef ribs chicken. Pork pork loin shank porchetta capicola meatball pork chop cupim leberkas. Corned beef picanha ham rump.</p>
</div>

  <div class="vision col-xs-6">
        <h1>Vision</h1>
        <p>Bacon ipsum dolor amet picanha rump turducken strip steak landjaeger alcatra leberkas chuck meatball fatback hamburger. Jerky beef ribs shankle meatloaf, sirloin landjaeger ribeye. Pastrami kevin brisket boudin capicola fatback tail. Kielbasa sausage capicola flank frankfurter beef ribs chicken. Pork pork loin shank porchetta capicola meatball pork chop cupim leberkas. Corned beef picanha ham rump.</p>
  </div>
</div>
</div>
  <!--founders-->
<div class="founders container">

  <div align="center">
    <h1>Founders</h1>
  </div>

<hr class="about_hr"><br>
    <div class="col-md-4 founder">
		  <div class="left card2" style="border: 1px solid black;">
         <div class="text">
      <h1>Sample Lorem Ipsum Name Here</h1>

        </div>
       </div>
    </div>

    <div class="col-md-4 founder">
      <div class="mid card2" style="border: 1px solid black;">
         <div class="text">
      <h1>Sample Lorem Ipsum Name Here</h1>

        </div>
       </div>
    </div>

    <div class="col-md-4 founder">
      <div class="right card2" style="border: 1px solid black;">
         <div class="text">
      <h1>Sample Lorem Ipsum Name Here</h1>

        </div>
       </div>
    </div>
    <div class="col-md-6 founderbot1">
      <div class="leftbot card2" style="border: 1px solid black;">
       </div>
      <div class="text" style="margin-left:35%!important;">
          <h1>Sample Lorem Ipsum Name Here</h1>

        </div>
    </div>
    <div class="col-md-6 founderbot">
      <div class="rightbot card2" style="border: 1px solid black;">
         <div class="text">
        <h1>Sample Lorem Ipsum Name Here</h1>

        </div>
       </div>
    </div>

  </div>

<br>
<br>
</html>