<!DOCTYPE html>
<html>
 <head>
  
    <title>About</title>

    <!-- Bootstrap -->
  </head>

  <body>
  		<!--navbar-->

<div class="about">
  <div class="abtext container">
      <h1>HOUND</h1>
      <h2>A search engine for making memories</h2>
  </div>
</div>


<div class="mv container-fluid">
<div class="row">
  <div class="mission col-xs-12">
    <h1>About Us</h1>
    <p> Hound is an online events listing resource that hopes to put every show, festival, and gallery at your fingertips. Want to check out the local slam poetry scene? Attend a stripped down concert at your neighborhood café? Or maybe see whatever’s going on in Makati next week? Our team wants to get rid of wasted weekends by bringing you a comprehensive calendar of events tailored and curated just for you. We’re like a search engine for making memories. <br><br>
Of course, we can’t do all this alone. That’s why we hope to build a community of people like us—event goers and organizers, performers and their potential audiences. Have a great event coming up? Send us the details and we’ll help you spread the word. And as our community grows, so will Hound. We have a lot of features planned out that we hope will streamline your experience: From buying tickets online to sending in post-gig reviews.<br> <br>
We’re still in beta so if you have any comments and suggestions, we’d love to hear from you (contacthound.ph@gmail.com). Thanks for dropping by! We hope you enjoy your stay.</p>
</div>

</div>
</div>
  <!--founders-->
<div class="founders container">

  <div align="center">
    <h1>Founders</h1>
  </div>

<hr class="about_hr"><br>
    <div class="col-md-4 founder">
		  <div class="left1 card2" style="border: 1px solid black;">
         <div class="text" style="margin-left:11.7%!important;">
      <h1>Santiago J. Arnaiz</h1>

        </div>
       </div>
    </div>

    <div class="col-md-4 founder">
      <div class="mid card2" style="border: 1px solid black;">
         <div class="text" style="margin-left:15.5%!important;">
      <h1>Kian A. Velez</h1>

        </div>
       </div>
    </div>

    <div class="col-md-4 founder">
      <div class="right1 card2" style="border: 1px solid black;">
         <div class="text" style="margin-left:15.5%!important;">
      <h1>Victoria E. Em</h1>

        </div>
       </div>
    </div>
    <div class="col-md-6 founderbot1">
      <div class="leftbot card2" style="border: 1px solid black;">
       </div>
      <div class="text" style="margin-left:38.5%!important;">
          <h1>Samantha G. Atilano</h1>

        </div>
    </div>
    <div class="col-md-6 founderbot">
      <div class="rightbot card2" style="border: 1px solid black;">
         <div class="text" style="margin-left:12%!important;">
        <h1>Won Choi</h1>

        </div>
       </div>
    </div>

  </div>

<br>
<br>
</html>