<div class="container-fluid" style="background-image:url(/assets/elem_profile-header.jpg); background-size:cover; height:95vh;">

  <% if !user_signed_in? %>
  <%= render 'pages/modal' %>
<% end %>

</div>
</div></div>

<script>
  $(document).ready(function() {
    $('#login').modal("show");
  });
</script>

<% if @reopen_signup %>
<script>
  $(document).ready(function() {
    $('#login').modal("hide");
  });
</script>
  <script>
    $(document).ready(function() {
      $('#signup').modal("show");
    });
  </script>
<% end %>