<div class="container-fluid content-box" style="background-image:url(/assets/bone.png);">
	<center>
	<div style="margin-top:22vh; background-color:#A02A26;; height:200px; width:70vw; padding-top:32px;">
		<span style="font-family:'Roboto';font-size:4.5em; line-height:1em; color:white;">An error occurred! <br>We are working on it!
		</span>

	</div>
	</center>
</div>
