<div class="container-fluid content-box">
<p>
  <strong>Name:</strong>
  <%= @tag.name %>
  <% if @tag.photo.exists? %>
      <%= image_tag @tag.photo.url(:thumb) %>
   <% end %>
</p>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
</div>
