<div class="container-fluid content-box">
<br><br>
<span style="font-family:'Roboto'; font-size:18px;"><center>
  <strong>Name:</strong>
  <%= @tag.name %><br><br>
  <% if @tag.photo.exists? %>
      <%= image_tag @tag.photo.url(:medium) %>
   <% end %>
   <br><br>
   <%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
   </center>
</span>


</div>
