<div style="height:100vh; background-color:#A02A26;">
<% if !user_signed_in? %>
  <%= render 'pages/modal' %>
<% end %>

<script>
  $(document).ready(function() {
    $('#login').modal("show");
  });
</script>
</div>