
<% if !user_signed_in? %>

<div class="container-fluid" style="background-image:url(/assets/aboutbg.jpeg); background-size:cover; height:100vh!important;">
  <%= render 'pages/modal' %>
<% end %>

</div>
<script>
  $(document).ready(function() {
    $('#login').modal("show");
  });
</script>
</div>
