<div class="container-fluid" style="background-image:url(/assets/elem_profile-header.jpg); background-size:cover;">
 <div class="row">
  <div class="col-xs-3"></div>
  <div class="col-xs-6 editevent" style="margin-top:18vh;margin-bottom:7vh; padding-left:7%; padding-bottom:45px; padding-top:14px;padding-right:7%;">


  <% if !user_signed_in? %>
  <%= render 'pages/modal' %>
<% end %>

</div>
</div></div>
<script>
  $(document).ready(function() {
    $('#login').modal("show");
  });
</script>