/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 body{
 	overflow-x:hidden;
 }
.navSearch
{
border-radius:23px;
border:solid 1px white;
background-color: #1c1818;
padding:1px 1px 1px 20px;
font-size: 18px;
font-family: 'Roboto' !important;
width:200px;
height:45px;
outline: 0;
}
.landing-search{
	margin-top: 38.5vh;
}
.lanSearch{
	background-color: transparent;
	font-size: 5vw;
	color:white;
	border:0;
	border-bottom:solid 3px white;
	margin-top: 2vh;
	outline: 0;
}
.lantitle{
	font-size: 6vw;
	color:white;
	margin-top: 3px;
	font-family: 'Roboto' !important;
}
.footer
{
width: 100%;
height: 60px;
padding:15px 10px 0px 30px;
margin-bottom:0 auto;
position:relative;
background-color: #A02A26;
}
button :focus
{
border:solid 1px;
}
.glassbox:focus
{
background-color: rgba(90,10,10,0.7); height:360px;
}
.glassbox:hover
{
background-color: rgba(10,10,10,0.7); height:360px;
}
.glassbox
{
background-color: rgba(20,20,20,0.5); height:360px;
}
.sampleBox
{
background:url(../images/sample1.png); height:360px; margin-top: 20px;
background-size: cover;
padding:0px;
background-size: cover;
}
.description
{
font-family: 'Roboto' !important;
color:white; top:275px; position:relative; margin:0px 40px; font-size:32px;
}
.banner{
background: url(/assets/elem_profile-header.jpg); height:340px; top:0px; position: absolute; width: 100%;
background-size: cover;
background-position: calc(10%) calc(40%);
}
.h1name{
font-family: 'Roboto' !important;
font-style: normal;
font-weight: 900;
position:absolute; top:489px; text-align:center; font-size:30px; width:100%; margin:0px;
}
.sub{
font-family: 'Roboto' !important;
font-style: normal;
position:absolute; top:539px; text-align:center; font-size:14px; width:100%; margin:0px; color:#7d7d7d;
}
.sub1{
font-family: 'Roboto' !important;
font-style: normal;
font-size:19px;
}
.displayPicture
{
	background-color: #f2f2f2;
background-size: cover;
height: 225px;
position: absolute;
width: 225px;
top: 225px;
padding: 10px 10px 10px 25px;
left: calc(50% - 112px);
border-radius: 112.5px;
z-index:20;
}
.eventTitle
{
font-family: 'Roboto' !important;
color:black;
margin:0px; position:relative; top:0px; left:0px; font-size:15px; text-align:left;
}
.sixtyBySixty{
	border: solid 1px; 
	width: 60px; 
	height:60px; 
	margin: 0px 0px; 
	position:relative; 
	top:0px; 
	left:0px; 
	text-align:left;
}
.entry
{
width: 90%; margin-left: 15px !important;
}
.details
{
font-family: 'Roboto' !important;
margin:0px; position:relative; top:0px; left:0px; font-size:15px;
}
.smallFont{
margin:0px; position:relative; top:0px; left:0px; font-size:12px; padding:0px; color:#6e6e6e
}
.navbar-brand {
	max-width:270px;
	overflow: visible;
	padding-top: 0;
	padding-bottom:0;
}
@media(min-width: 768px){
    .navbar > .container { max-width: 100%; padding: 0; }
}
.content-box{
	margin-top: 110px;
	min-height: 75vh;
}
.event-name{
	color:#ffffff;
	font-size: 3.9em;
}
.show-event-content{
	padding-left: 40px;
}
.content-box-show{
	margin-top: 17px;
}
#index_jum{
 background-size: cover;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
}
#landing{
	overflow-x:hidden;
	overflow-y:hidden;
}
.modal.custom .modal-dialog {
    width:24em;
    margin-top: 100px;
    /*add what you want here*/
}
#shown-img{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: contain;
}
#imgdiv{
	
    background-repeat: no-repeat;
    background-size: cover;
	background-position:center;
}
.mouse-bg {
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	position: fixed;
	z-index: -1;
}
.rob
{
font-family: 'Roboto' !important;
font-style: normal;
text-align: justify;
text-justify:interword;
}
.jb
{
padding:15px;
background-color:#A02A26; 
height:50px; 
width:170px; 
float:right; 
margin-top:40px; 
border-radius:40px; 
border:none; 
color:white; 
font-size:20px; 
font-family:'Roboto' !important;
box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
outline:0;
}
.jb:hover
{
color:white;
cursor: pointer;
background-color:#B02B26;
box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.bubble
{
position: relative;
width: 115px;
height: 30px;
padding-top: 7px;
margin-top: 30px;
background: #FFFFFF;
-webkit-border-radius: 15px;
-moz-border-radius: 15px 0px;
border-radius: 15px 15px 15px 0px;
}
.circle{
background-size: cover;
height:60px; width:60px; border-radius:30px; margin:0px;
}
.people
{
color:white;
position:inherit; 
margin: 20px 0px 0px 0px;
}
.bubble:after
{
width: 0;
height: 0;
border-style: solid;
border-width: 12px 7px 0 0;
border-color: #ffffff transparent transparent transparent;
content: '';
position: absolute;
border-style: solid;
z-index: 1;
bottom: -10px;
left: 0px;
}
#wrapper { position: relative; }
#over_map { position: absolute; top: 8px; left: 100px; z-index: 99; }
.direct
{
padding:5px;
background-color:#A02A26; 
height:30px; 
width:170px; 
float:right; 
margin-top:0px; 
border-radius:40px; 
border:none; 
color:white; 
font-size:15px; 
font-family:'Roboto' !important;
box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.direct:hover
{
color:white;
cursor: pointer;
background-color:#B02B26;
box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.select-t{
	background-color: transparent;
	font-family: 'Roboto' !important;
	font-size: 1.2em;
	border: 2px solid #1c1818;
	color: #1c1818;
	width: 15vw;
	padding:1px;

}
.styled-select {
   width: 240px;
   height: 34px;
   overflow: hidden;
   background: url(new_arrow.png) no-repeat right #ddd;
   border: 1px solid #ccc;
   }
.styled-t select
{
    appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
}
.jbtn
{
padding:10px;
background-color:#A02A26; 
height:40px; 
width:110px; 
float:right; 
margin-top:8px; 
border-radius:40px; 
border:none; 
color:white; 
font-size:1.1em; 
font-family:'Roboto' !important;
margin-right: 2.7vw;
margin-bottom:10px;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
transition: all 0.2s ease-in-out;
outline: 0;
}
.jbtn:hover
{
color:white;
cursor: pointer;
background-color:#B02B26;
box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#link:hover
{
color:black;
}
.jbtn1
{
padding:10px;
background-color:transparent; 
height:40px; 
width:110px; 
float:right; 
margin-top:8px; 
border-radius:40px; 
border:none; 
color:white; 
font-size:1.1em; 
font-family:'Roboto' !important;
margin-right: 2.7vw;
margin-bottom:10px;
cursor: default;
}
.pg {
  text-align: center;
  padding: 0.3em;
  cursor: default;
  font-family: 'Roboto' !important;
  font-size: 15px; }
  .pg a, .pg span, .pg em {
    padding: 0.2em 0.5em; }
  .pg .disabled {
    color: #aaaaaa; }
  .pg .current {
    font-style: normal;
    font-weight: bold;
    color: #A02A26; }
  .pg a {
    border: 1px solid #dddddd;
    color: #616161;
    text-decoration: none; }
    .pg a:hover, .pg a:focus {
      border-color: #f2f2f2;
      background: #616161;
      color: white; }
  .pg .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .pg .previous_page, .pg .next_page {
    border-width: 2px; }
  .pg .previous_page {
    margin-right: 1em; }
  .pg .next_page {
    margin-left: 1em; }
.card2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.card3 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
}
.card3:hover {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.ncard{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.pcard{
	  transition: all 0.2s ease-in-out;
}
.pcard:hover{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.g-p1{ font-size: 100px; }
.gp-2{ font-size: 40vw; }
.bcard{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.cir{
	border-radius: 50px;
	padding:-10px;
}
.gwump{
	background: url(/assets/pie.jpg);
	background-size: cover;
	min-height: 120vh;
	position:relative;
}






.tabs {
    width:100%;
    display:inline-block;
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
.tab-links:after {
    display:block;
    clear:both;
    content:'';
}

.tab-links li {
    margin:0px 5px;
    float:left;
    list-style:none;
}

    .tab-links a {
        padding:9px 15px;
        display:inline-block;
        background:transparent;
        font-size:16px;
        font-weight:600;
        color:black;
    }

    .tab-links a:hover {
        background:transparent;
        border-radius: 20px; 
        text-decoration:none;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        color: black;
    }

li.active a, li.active a:hover {
height: 40px;  
border-radius: 20px; 
border: solid 1px rgba(20, 20, 20, 0.5);; 
background-color: transparent;
color: black;
text-decoration:none;
}

/*----- Content of Tabs -----*/
.tab-content {
    padding:15px;
    border-radius:3px;
                transition:all linear 0.15s;
    background:transparent;
}
 
.tab {
    display:none;
}

.tab.active {
    display:block;
}

#imgg {
  display: block;
  height: 540px;
  width:100%;
  object-fit: cover !important;
}
footer a:hover {
    background-color: transparent!important;
} 
.dropdown-menu a:hover {
    background-color: transparent!important;
    color:#333!important;

} 

table a:hover {
    background-color: transparent!important;
    color:#333!important;

} 
.tab-content a:hover{
	background-color: transparent!important;
    color:#333!important;
}

.cf a:hover{
	background-color: transparent!important;
}