<footer class="footer">
  <h6 style="color:white;"><a href="/about" style="color:white;">About us</a> | Terms and Conditions | © 2015 <span style="float:right; margin-right:180px;" class="footwords">|</span> <span style="float:right; margin-right:130px;" class="footwords">Powered by</span></h6> 
  <%=image_tag "elem_icon-ig1.png", :class=>"pcard cir c1"%>
  <%=image_tag "elem_icon-twit1.png", :class=>"pcard cir c2"%>
  <%=image_tag "elem_icon-fb1.png", :class=>"pcard cir c3"%>
  <div class="P2">Powered by</div>
  <a href="http://www.misa.org.ph"><%=image_tag "misalogo.png",:class=>"i_tag"%></a>

</footer>